apiVersion: v1
kind: Secret
metadata:
  name: democratic-csi-nfs-config
  namespace: democratic-csi
type: Opaque
stringData:
  driver-config-file.yaml: |
    driver: zfs-generic-nfs
    sshConnection:
      host: {{ hostvars[democratic_csi_nfs_host].internal_ip }}
      port: 22
      username: democratic-csi
      privateKey: {{ lookup('file', playbook_dir + '/../.env/democratic-csi') | to_json }}
    zfs:
      cli:
        sudoEnabled: true
        paths:
          zfs: /usr/sbin/zfs
          zpool: /usr/sbin/zpool
          sudo: /usr/bin/sudo
      datasetParentName: {{ ssd_pool }}/nfs
      detachedSnapshotsDatasetParentName: {{ ssd_pool }}/nfs-snapshots
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    nfs:
      shareStrategy: setDatasetProperties
      shareStrategySetDatasetProperties:
        properties:
          sharenfs: "rw={{ internal_network_cidr }},no_subtree_check,no_root_squash"
      shareHost: {{ hostvars[democratic_csi_nfs_host].internal_ip }}
